## Data Question 1

### How many distinct phone numbers had at least 2 sim swap event changes in this data?

**39 distinct phone numbers had at least 2 sim swap events**

### How many records had at least 3 change events?

**322 records had at least 3 change events**

### Questions about the data

* How do we handle the NaNs in the data? What do NaNs mean in this situation? I dropped them above, but this loses a quarter of the data, so it is not an ideal solution.

* Should phone numbers be a certain length? If numbers are longer/shorter than a normal number, does that indicate suspicious activity?

* Can each EventType be considered a change event? This is the assumption I made to answer the second question.

* Did we collect this data ourselves or did a client provide it - asked in the interview -> from client

* If collected from a client, can we trust it to be accurate?

* What type of insights does the client hope to gain from the data / answers to the questions? Most frequent phone numbers, average event count, fraud, etc?

* Should dates have been a factor in counting SimSwap events or number of events per record?

* Can there only be one of each Event Type per record?

### Importing and Exploring

In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv('dataquestion1.csv')

In [3]:
df.head()

                                              Events  phoneNumber
0  [{"EventType":"Ported","LastChangedDate":"2011...  61011011141
1  [{"EventType":"Ported","LastChangedDate":"2016...  61011051114
2  [{"EventType":"Ported","LastChangedDate":"2019...  61011051561
3  [{"EventType":"DeviceChange","LastChangedDate"...  61011106044
4                                                NaN  61011111104

In [4]:
df.shape

(1073, 2)

In [5]:
df.isna()
df[df.isna().any(axis=1)]

     Events  phoneNumber
4       NaN  61011111104
6       NaN  61011111111
8       NaN  61011116416
11      NaN  61011141151
15      NaN  61011161113
...     ...          ...
1049    NaN  66614165010
1053    NaN  66616564161
1055    NaN  66631010111
1060    NaN  66633016461
1061    NaN  66633111114

[275 rows x 2 columns]

In [6]:
275 / 1073

0.25629077353215285

In [7]:
df['phoneNumber'].value_counts()

61151106546    11
63405641406     5
64541161444     5
61043414351     5
65601161110     4
               ..
66346136446     1
64014410454     1
66615665364     1
64061416146     1
63411611641     1
Name: phoneNumber, Length: 970, dtype: int64

In [8]:
# dropping NaNs, comments in the Questions section
df = df.dropna()
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Events, phoneNumber]
Index: []

In [9]:
df.head()

                                              Events  phoneNumber
0  [{"EventType":"Ported","LastChangedDate":"2011...  61011011141
1  [{"EventType":"Ported","LastChangedDate":"2016...  61011051114
2  [{"EventType":"Ported","LastChangedDate":"2019...  61011051561
3  [{"EventType":"DeviceChange","LastChangedDate"...  61011106044
5  [{"EventType":"MSISDNChange","LastChangedDate"...  61011111104

In [10]:
df['phoneNumber'].value_counts()

61151106546    11
61043414351     5
63405641406     5
63164513105     3
64631634141     3
               ..
66444335464     1
65664151151     1
64644106611     1
63641014640     1
61131141114     1
Name: phoneNumber, Length: 726, dtype: int64

In [11]:
len(df)

798

In [12]:
df['Events'][0]

'[{"EventType":"Ported","LastChangedDate":"2011-05-05T16:26:10Z"},{"EventType":"DeviceChange","LastChangedDate":"2020-02-12T23:59:59Z"},{"EventType":"SIMSwap","LastChangedDate":"2020-01-13T23:59:59Z"}]'

In [13]:
df['Events'][5]

'[{"EventType":"MSISDNChange","LastChangedDate":"2016-07-21T22:36:00Z"},{"EventType":"Ported","LastChangedDate":"2016-11-21T23:57:06Z"},{"EventType":"DeviceChange","LastChangedDate":"2020-02-11T23:59:59Z"},{"EventType":"SIMSwap","LastChangedDate":"2016-11-21T23:57:06Z"}]'

In [14]:
df['Events']

0       [{"EventType":"Ported","LastChangedDate":"2011...
1       [{"EventType":"Ported","LastChangedDate":"2016...
2       [{"EventType":"Ported","LastChangedDate":"2019...
3       [{"EventType":"DeviceChange","LastChangedDate"...
5       [{"EventType":"MSISDNChange","LastChangedDate"...
                              ...
1068    [{"EventType":"Ported","LastChangedDate":"2017...
1069    [{"EventType":"DeviceChange","LastChangedDate"...
1070    [{"EventType":"Ported","LastChangedDate":"2005...
1071    [{"EventType":"Ported","LastChangedDate":"2015...
1072    [{"EventType":"Ported","LastChangedDate":"2013...
Name: Events, Length: 798, dtype: object

In [15]:
test = df['Events'][0]

In [16]:
test

'[{"EventType":"Ported","LastChangedDate":"2011-05-05T16:26:10Z"},{"EventType":"DeviceChange","LastChangedDate":"2020-02-12T23:59:59Z"},{"EventType":"SIMSwap","LastChangedDate":"2020-01-13T23:59:59Z"}]'

In [17]:
converted = ast.literal_eval(test)
converted

[{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'},
 {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-12T23:59:59Z'},
 {'EventType': 'SIMSwap', 'LastChangedDate': '2020-01-13T23:59:59Z'}]

In [18]:
ast.literal_eval(test)[0]

{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'}

In [19]:
converted[0]

{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'}

In [20]:
empty_list = []
empty_list.append(converted)
empty_list

[[{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-12T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-01-13T23:59:59Z'}]]

#### Converting Events column to a List of Lists of Dictionaries

In [21]:
events = df['Events']
events

0       [{"EventType":"Ported","LastChangedDate":"2011...
1       [{"EventType":"Ported","LastChangedDate":"2016...
2       [{"EventType":"Ported","LastChangedDate":"2019...
3       [{"EventType":"DeviceChange","LastChangedDate"...
5       [{"EventType":"MSISDNChange","LastChangedDate"...
                              ...
1068    [{"EventType":"Ported","LastChangedDate":"2017...
1069    [{"EventType":"DeviceChange","LastChangedDate"...
1070    [{"EventType":"Ported","LastChangedDate":"2005...
1071    [{"EventType":"Ported","LastChangedDate":"2015...
1072    [{"EventType":"Ported","LastChangedDate":"2013...
Name: Events, Length: 798, dtype: object

In [22]:
converted_events = []

def convert_events(events):
    for event in events:
        c = ast.literal_eval(event)
        converted_events.append(c)
        
convert_events(events)

In [23]:
converted_events[:5]

[[{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-12T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-01-13T23:59:59Z'}],
 [{'EventType': 'Ported', 'LastChangedDate': '2016-11-02T22:31:03Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2021-03-26T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2021-03-26T23:59:59Z'}],
 [{'EventType': 'Ported', 'LastChangedDate': '2019-10-18T15:36:15Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-04-25T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-04-25T23:59:59Z'}],
 [{'EventType': 'DeviceChange', 'LastChangedDate': '2020-05-10T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-05-10T23:59:59Z'}],
 [{'EventType': 'MSISDNChange', 'LastChangedDate': '2016-07-21T22:36:00Z'},
  {'EventType': 'Ported', 'LastChangedDate': '2016-11-21T23:57:06Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-11T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2016-11-21T23:57:06Z'}]]

In [24]:
converted_events[0][0]

{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'}

In [25]:
converted_events[0]

[{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'},
 {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-12T23:59:59Z'},
 {'EventType': 'SIMSwap', 'LastChangedDate': '2020-01-13T23:59:59Z'}]

In [26]:
len(converted_events[0])

3

In [27]:
converted_events[0][0]['EventType']

'Ported'

In [28]:
converted_events[0][0]['EventType'] == 'SIMSwap'

False

In [29]:
len(converted_events)

798

### How many distinct phone numbers had at least 2 sim swap event changes in this data?

**39 distinct phone numbers had at least 2 sim swap events**

In [30]:
sim_count = []

def sim_counter(dicts):
    for events in dicts:
        sims = 0
        for event in events:
            if event['EventType'] == 'SIMSwap':
                sims += 1
        sim_count.append(sims)
        
sim_counter(converted_events)

print(sim_count[:10])
       
len(sim_count)

[1, 1, 1, 1, 1, 1, 1, 1, 0, 1]

798

In [31]:
df['SimCount'] = sim_count
df

                                                 Events  phoneNumber  SimCount
0     [{"EventType":"Ported","LastChangedDate":"2011...  61011011141         1
1     [{"EventType":"Ported","LastChangedDate":"2016...  61011051114         1
2     [{"EventType":"Ported","LastChangedDate":"2019...  61011051561         1
3     [{"EventType":"DeviceChange","LastChangedDate"...  61011106044         1
5     [{"EventType":"MSISDNChange","LastChangedDate"...  61011111104         1
...                                                 ...          ...       ...
1068  [{"EventType":"Ported","LastChangedDate":"2017...  66651115140         1
1069  [{"EventType":"DeviceChange","LastChangedDate"...  66654116135         1
1070  [{"EventType":"Ported","LastChangedDate":"2005...  66661166066         1
1071  [{"EventType":"Ported","LastChangedDate":"2015...  66664441444         0
1072  [{"EventType":"Ported","LastChangedDate":"2013...  66666165155         1

[798 rows x 3 columns]

In [32]:
df_sc = df.groupby('phoneNumber').sum()
df_sc

             SimCount
phoneNumber
61011011141         1
61011051114         1
61011051561         1
61011106044         1
61011111104         1
...               ...
66651115140         1
66654116135         1
66661166066         1
66664441444         0
66666165155         1

[726 rows x 1 columns]

In [33]:
df_sc[df_sc['SimCount'] >= 2]

             SimCount
phoneNumber
61041056636         2
61043414351         5
61061631054         2
61113011051         3
61114415616         2
61144101161         2
61145014116         2
61151106546        11
61411451066         2
61505460516         3
61511065644         2
61604414331         2
61613646161         2
63013013016         2
63031464416         3
63151136111         2
63164513105         3
63314554061         2
63401154346         2
63405641406         5
63434140561         2
63611066103         2
63656015400         2
63664111651         2
64011516441         2
64044401431         2
64066610014         2
64161010043         2
64611351654         2
64615651341         2
64631634141         3
64644116603         2
64654113111         2
65065161510         2
65154465414         2
65465556014         3
65601161110         2
65651331163         2
66443011434         2

In [34]:
len(df_sc[df_sc['SimCount'] >= 2])

39

### How many records had at least 3 change events?

**322 records had at least 3 change events**

In [35]:
converted_events[:5]

[[{'EventType': 'Ported', 'LastChangedDate': '2011-05-05T16:26:10Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-12T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-01-13T23:59:59Z'}],
 [{'EventType': 'Ported', 'LastChangedDate': '2016-11-02T22:31:03Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2021-03-26T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2021-03-26T23:59:59Z'}],
 [{'EventType': 'Ported', 'LastChangedDate': '2019-10-18T15:36:15Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-04-25T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-04-25T23:59:59Z'}],
 [{'EventType': 'DeviceChange', 'LastChangedDate': '2020-05-10T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2020-05-10T23:59:59Z'}],
 [{'EventType': 'MSISDNChange', 'LastChangedDate': '2016-07-21T22:36:00Z'},
  {'EventType': 'Ported', 'LastChangedDate': '2016-11-21T23:57:06Z'},
  {'EventType': 'DeviceChange', 'LastChangedDate': '2020-02-11T23:59:59Z'},
  {'EventType': 'SIMSwap', 'LastChangedDate': '2016-11-21T23:57:06Z'}]]

In [36]:
event_count = []

def event_counter(events):
    for event in converted_events:
        l = len(event)
        event_count.append(l)
        
event_counter(converted_events)
        
event_count[:15]

[3, 3, 3, 2, 4, 3, 3, 3, 1, 2, 1, 3, 3, 1, 2]

In [37]:
df['EventCount'] = event_count
df

,Events,phoneNumber,SimCount,EventCount
0,"[{""EventType"":""Ported"",""LastChangedDate"":""2011...",61011011141,1,3
1,"[{""EventType"":""Ported"",""LastChangedDate"":""2016...",61011051114,1,3
2,"[{""EventType"":""Ported"",""LastChangedDate"":""2019...",61011051561,1,3
3,"[{""EventType"":""DeviceChange"",""LastChangedDate""...",61011106044,1,2
5,"[{""EventType"":""MSISDNChange"",""LastChangedDate""...",61011111104,1,4
...,...,...,...,...
1068,"[{""EventType"":""Ported"",""LastChangedDate"":""2017...",66651115140,1,3
1069,"[{""EventType"":""DeviceChange"",""LastChangedDate""...",66654116135,1,2
1070,"[{""EventType"":""Ported"",""LastChangedDate"":""2005...",66661166066,1,3
1071,"[{""EventType"":""Ported"",""LastChangedDate"":""2015...",66664441444,0,1
1072,"[{""EventType"":""Ported"",""LastChangedDate"":""2013...",66666165155,1,3

In [38]:
df[df['EventCount'] >= 3]

,Events,phoneNumber,SimCount,EventCount
0,"[{""EventType"":""Ported"",""LastChangedDate"":""2011...",61011011141,1,3
1,"[{""EventType"":""Ported"",""LastChangedDate"":""2016...",61011051114,1,3
2,"[{""EventType"":""Ported"",""LastChangedDate"":""2019...",61011051561,1,3
5,"[{""EventType"":""MSISDNChange"",""LastChangedDate""...",61011111104,1,4
7,"[{""EventType"":""Ported"",""LastChangedDate"":""2016...",61011111401,1,3
...,...,...,...,...
1062,"[{""EventType"":""Ported"",""LastChangedDate"":""2015...",66634116664,1,3
1063,"[{""EventType"":""Ported"",""LastChangedDate"":""2018...",66635044561,1,3
1068,"[{""EventType"":""Ported"",""LastChangedDate"":""2017...",66651115140,1,3
1070,"[{""EventType"":""Ported"",""LastChangedDate"":""2005...",66661166066,1,3
1072,"[{""EventType"":""Ported"",""LastChangedDate"":""2013...",66666165155,1,3

In [39]:
len(df[df['EventCount'] >= 3])

322

### Questions about the data

* How do we handle the NaNs in the data? What do NaNs mean in this situation? I dropped them above, but this loses a quarter of the data, so it is not an ideal solution.

* Should phone numbers be a certain length? If numbers are longer/shorter than a normal number, does that indicate suspicious activity?

* Can each EventType be considered a change event? This is the assumption I made to answer the second question.

* Did we collect this data ourselves or did a client provide it - asked in the interview -> from client

* If collected from a client, can we trust it to be accurate?

* What type of insights does the client hope to gain from the data / answers to the questions? Most frequent phone numbers, average event count, fraud, etc?

* Should dates have been a factor in counting SimSwap events or number of events per record?

* Can there only be one of each Event Type per record?

## Data Question 2

* TN = 3000
* TP = 75
* FN = 25
* FP = 1000

In [40]:
100 / 4100

0.024390243902439025

#### What does the confusion matrix tell you about the data?

* The confusion matrix tells us the data is highly imbalanced. There are 4000 non-fraudulent transactions and only 100 fraudulent transactions. The positive class accounts for only 2.4% of the data, which can make predictions difficult.

#### What questions do you have about the problem/data?

* Can we somehow collect more samples of fraudulent activity?
* Is there a specific metric we should focus on?
* Is there a higher cost associated with missing fraudulent activity or with spending resources on investigating falsely identified fraudulent activity?

#### Anything you would do differently to measure the model?

* We can look at the recall and precision of the model for a different sense of performance
    * recall = tp / (tp + fn) = 75 / (75 + 25) = .75
    * precision = tp / (tp + fp) = 75 / (75 + 1000) = .07


* We can also use the F1 score - combination of precision and recall
    * 2 * precision * recall / (precision + recall) = 2 * .07 * .75 / (.75 + .07) = .13


If we focus on achieving high precision, we're trying to minimize false positives. False positives, or records falsely indicated as fraud, require investigation and resources. If we focus on recall, we're trying to minimize false negatives so that we don't miss fraudulent activity and the costs that come with them. It would be best to discuss as a team which metric to focus on in advance.

We could also look at other metrics like the ROC/AUC or specificity, but should avoid giving too much consideration to accuracy because of the class imbalance.

#### How could you improve the model?

* Resample the positive class so we have more positive instances in the dataset and reduce the class imbalance
* When using train_test_split, use stratified sampling to maintain the class proportions
* Drop a portion of the negative class so they data is less imbalanced
* Combine resampling the positive class and dropping a portion of the negative class
* Use grid_search with cross_validation to build a more robust model; this might lead to better recall/precision metrics
* Some models allow us to select the class weights; we can try different values to see what leads to an optimal model

#### If you have an example/project where the data was imbalanced, send us the link to the code and briefly (<3 paragraphs) describe the project and issues you dealt with and how you resolved them.

https://github.com/WickedoneC/Healthcare/blob/main/Druglib%20NLP/Druglib_FullText.ipynb

I worked on a personal project predicting whether a drug treatment was effective or not based on patients' comments. The benefits were listed as text, so the data had to be formatted and transformed before modeling. 

Once the text was formatted and the classes labeled as "Effective" and "Non Effective," the data was 86% Effective and 14% Non Effective (cell 48). When modeling, I focused on the F1 score as this combines precision and recall.

I used Random Forest and Gradient Boost for classification. The initial models performed well, so instead of tuning using grid search, I manually changed the hyperparameters until I found results that produced the highest F1 score for each model. This saved time in identifying the best model/hyperparameters compared to running grid_search in combination with cross_validation. The resulting models performed well on the training and testing data, as well as on the separate testing data provided. The F1 score for the separate testing data was either similar to or higher than the F1 score for the train_test_split testing data, so the models generalized well to new data without requiring further tuning. Had the models not generalized well to the separate testing data, I could have manually changed the hyperparameters and re-run the affected cells, or used grid_search with cross_validation to find optimal hyperparameters and a model that achieved a high F1 score.